footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
  user-select: none;
  font-size: .9rem;
  @media screen and (max-width: 300px) {
    flex-direction: column;
  }
}

footer .btn {
  padding: .4rem .7rem;
}