<td>{{ todo.id }}</td>
<td>
  <div class="title">
      <input
      data-testid="todo-row-checkbox"
      [disabled]="isProcessing"
      name="toggleCompletion"
      [checked]="!!todo.complete"
      (click)="onToggleComplete($event)"
      type="checkbox"
      [attr.aria-checked]="!!todo.complete"
      [attr.aria-label]="(todo.complete 
        ? 'todoTable.row.checkboxLabel.completed.title'
        : 'todoTable.row.checkboxLabel.unCompleted.title') | translate">
    <div
      data-testid="todo-text-wrapper"
      class="todo-text-wrapper"
      (dblclick)="onStartEdit()">
      <div
      data-testid="todo-text"
      *ngIf="!editing; else titleInputContainerEl"
      class="todo-text"
      [class.strike]="todo.complete"
      [title]="todo.title"
      >
      {{ todo.title }}
    </div>
  </div>
    <ng-template #titleInputContainerEl>
      <input
        data-testid="edit-todo-title-input"
        #titleInputRef
        [disabled]="isProcessing && !editing"
        type="text"
        [(ngModel)]="todo.title"
        autocomplete="off"
        (keyup.enter)="save($event)"
        (keyup.esc)="save($event)"
        name="editTodoTitle"
        [attr.aria-label]="'todoTable.row.title.editInput.ariaLabel' | translate">
    </ng-template>
  </div>
</td>
<td class="muted">{{ todo.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
<td>
  <div class="actions">
    <button
    data-testid="edit-todo-title-button"
    [title]="'todoTable.row.btn.edit.title' | translate" class="icon-btn"
    (click)="onStartEdit()"
    [disabled]="isProcessing"
    >✎</button>
    <button
    data-testid="delete-todo"
    (click)="onDeleteTodo()"
    [title]="'todoTable.row.btn.remove.title' | translate"
    class="icon-btn"
    [disabled]="isProcessing">🗑</button>
  </div>
</td>