<td>{{ todo.id }}</td>
<td>
  <div class="title">
    <label
      data-testid="todo-row-checkbox-label">
      <input
      data-testid="todo-row-checkbox"
      [disabled]="isProcessing"
      name="toggleCompletion"
      [checked]="!!todo.complete"
      (click)="onToggleComplete($event)"
      type="checkbox"
      [attr.aria-checked]="!!todo.complete"
      [attr.aria-label]="(todo.complete 
        ? 'todoTable.row.checkboxLabel.completed.title'
        : 'todoTable.row.checkboxLabel.unCompleted.title') | translate">
    </label>
    <div
      class="todo-text"
      [class.strike]="todo.complete">
      {{ todo.title }}
    </div>
  </div>
</td>
<td class="muted">{{ todo.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
<td class="actions">
  <button [title]="'todoTable.row.btn.edit.title' | translate" class="icon-btn">✎</button>
  <button
    (click)="onDeleteTodo()"
    [title]="'todoTable.row.btn.remove.title' | translate"
    class="icon-btn"
    [class.is-processing]="isProcessing"
    [disabled]="isProcessing">🗑</button>
</td>