<td style="width: 6%;">{{ todo.id }}</td>
<td style="width: 56%;">
  <div
    [attr.data-testid]="'title-' + todo.title"
    [title]="(editing 
      ? 'todoTable.row.title.editing.active'
      : 'todoTable.row.title.editing.idle') | translate"
    class="title">
      <input
      data-testid="todo-row-checkbox"
      [disabled]="isProcessing"
      name="toggleCompletion"
      [checked]="!!todo.complete"
      (click)="onToggleComplete($event)"
      type="checkbox"
      [title]="(!!todo.complete
        ? 'todoTable.row.checkboxLabel.completed.title'
        : 'todoTable.row.checkboxLabel.unCompleted.title') | translate"
      [attr.aria-checked]="!!todo.complete"
      [attr.aria-label]="(todo.complete 
        ? 'todoTable.row.checkboxLabel.completed.title'
        : 'todoTable.row.checkboxLabel.unCompleted.title') | translate">
    <div
      data-testid="todo-text-wrapper"
      class="todo-text-wrapper"
      (dblclick)="onStartEdit()">
      <div
      data-testid="todo-text"
      *ngIf="!editing; else titleInputContainerEl"
      class="todo-text"
      [class.strike]="todo.complete"
      [title]="todo.title"
      >
      {{ todo.title }}
    </div>
  </div>
    <ng-template #titleInputContainerEl>
      <input
        data-testid="edit-todo-title-input"
        #titleInputRef
        #titleInputModel="ngModel"
        type="text"
        [(ngModel)]="todo.title"
        autocomplete="off"
        (keyup.enter)="save($event)"
        (keyup.escape)="save($event)"
        name="editTodoTitle"
        maxlength="40"
        [attr.aria-label]="'todoTable.row.title.editInput.ariaLabel' | translate">
        <div
          class="spinner"
          [isLoading]="searching"></div>
    </ng-template>
  </div>
</td>
<td style="width: 22%;" class="muted">{{ todo.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
<td style="width: 16%;">
  <div class="actions">
    <button
    data-testid="edit-todo-title-button"
    [title]="'todoTable.row.btn.edit.title' | translate" class="icon-btn"
    (click)="onStartEdit()"
    [disabled]="isProcessing"
    >✎</button>
    <button
    data-testid="delete-todo"
    (click)="onDeleteTodo()"
    [title]="'todoTable.row.btn.remove.title' | translate"
    class="icon-btn"
    [disabled]="isProcessing">🗑</button>
  </div>
</td>