<form
  #todoForm="ngForm"
  class="add-todo-form"
  (ngSubmit)="onAddTodo($event)">
  <div class="input-wrapper">
    <input
      type="text"
      name="todoInput"
      #todoInput="ngModel"
      [(ngModel)]="todoName"
      pattern="^(?!.*\s[.,!?-])[A-Za-zÀ-ÖØ-öø-ÿ0-9\s.,!?-]{1,40}$"
      [placeholder]="'addTodoForm.placeholder' | translate" autocomplete="off" required minlength="1" maxlength="40">
    <div
      class="spinner"
      [isLoading]="!!todoForm.pending">
    </div>
  </div>
  <button
    class="btn"
    [disabled]="todoForm.invalid ||
      todoForm.pending ||
      isProcessing"
    type="submit">
    {{ 'addTodoForm.button.title' | translate }}
  </button>
</form>